.inputText {
  position: relative;
  input{
    border-radius: 5px;
    border: 1px solid #ced4da;
    padding: 1px 25px;
    &:focus {
      outline: none;
      border: 2px solid #98d8f2;
    }
  }
  .faSearch {
    position: absolute;
    line-height: 28px;
    vertical-align: middle;
    top: 0;
    left: 5px;
    font-size: 16px;
  }
}