.action-button {
  border: 0;
  border-radius: 5px;
  &.btn-primary {
    background-color: #00a7f2;
    &:hover {
      background-color: #0096d9;
    }
    &:focus {
      box-shadow: none;
      outline: 0;
    }
    &:active:hover {
      box-shadow: none;
    }
  }
  &.btn-secondary {
    border: 1px solid #d5d5d5;
    background-color: #ffffff;
    color: #5d5d5d;
    &:hover {
      background-color: #e0e0e0;
      // color: #5d5d5d;
    }
    &:focus {
      box-shadow: none;
      outline: 0;
    }
    &:active:hover {
      box-shadow: none;
    }
  }
  &.btn-round {
    width: 40px;
    height: 40px;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 50%;
    padding: 0;
    color: #ffffff;
    background-color: #00a7f2;
    &:hover {
      background-color: #0096d9;
    }
  }
}
